<p style="color: green"><%= notice %></p>

<h1>Friends</h1>

<div id="friends">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Twitter</th>
        <th scope="col">User ID</th>
        <th scope="col">More Info.</th>

      </tr>
      </thead>
      <tbody>
      <% @friends.each do |friend| %>
      <%#=current_user.inspect %>
        <%#=friend.user %>
      <%if current_user == friend.user %>
        <tr>
            <%= render friend %>
            <td><%= link_to "Show this friend", friend %></td>
        </tr>
      <%end %>
      <% end %>
      </tbody>
    </table>
</div>

<%= link_to "New friend", new_friend_path %>
